@tailwind base;
@tailwind components;
@tailwind utilities;

.no-js {
	height: 100vh;
	height: 100dvh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2rem;
	font-family: 'Bellefair', sans-serif;
	overflow: hidden;
}
